@import "url-helpers";

#logo {
    float: left;
    position: relative;
    top: -1px;

    height: 30px;
    overflow: visible;
    vertical-align: baseline;

    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 1em;
    text-decoration: none;
    margin-bottom: -3px;
    padding-top: 2px;
    border-bottom: 1px solid transparent;

    background: file-url('brandLogo.png') no-repeat;
    background-size: 35px 31px;
    background-position: 0 0;
}
